# Vim Plugins are automatically added to ~/.vim/bundle by Vundle,
# so we ignore them.
vim/bundle/*
vim/.netrwhist
vim/sessions/*
vim/eclim/*
vim/spell/*
vim/cworksheet/*
vim/plugin/eclim.vim

# NeoVim's Shared Data?
vim/shada/

# Mutt stuff
mutt/cache/
mutt/mailcap

# In general, may want to ignore 'user' files.
config.user.fish

# Decided to add .config/fish directly
# (rather than install.conf.yaml every fish script).
# So, need to ignore the following:
fish_history
fish_variables
fishd*
mutt/cache
fish/functions/
fish/conf.d/
fish/completions/

# nix build, etc.
result
result-*
.direnv
