[user]
	name = Richard Goulter
	email = EMAIL
[core]
	excludesfile = $HOME/.gitignore_global
[alias]
	fancyoneline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
